<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="res.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/signin">
<link rel="stylesheet" href="/review">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-md bg-inverse navbar-inverse navbar fixed-top navbar-static-top">
            <div class="container">
            <img src="http://chriscline.tk/projects/Responsive_Layout_1/img/logo.png" class="navbar-brand" alt="">
            </div>
            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
                <i class="fa fa-bars"></i>
              </button>
          
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto flex-row flex-lg-row justify-content-center">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                          <span class="sr-only">(current)</span>
                        </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/review">Reviews</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link try" href="/signin">TRY!</a>
                </li>
                </ul>
              </div>
          </nav>
    </header>
    <div class="abc">
        <section class="section">
            <h1>Making things look great</h1>
            <p>for companies who make great stuff</p><br>
        </br>
    </br>
            <a href="#" class="xyz"> OUR WORK</a>
        </section>
    </div>
   
    <div class="container">
        <section class="section1">
            <div class="box">
            <div class="details px-5 ">
            <h1>Who we are</h1>
            <p class="py-3 px-3 ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br><br> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            </div>
        </section>
    </div>

    <div class="container2">
        <p class="para">Some of our work</p>

        <section class="section2">
         <div class="row">
             <div class="col-lg-4 col-sm-6">
                 <div class="d">
                 <img src="https://images.unsplash.com/photo-1519710164239-da123dc03ef4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="" class="ua">
                 <div class="card-details">
                    <h2 class="text-center">Project title</h2>
                    <p><button >SEE PROJECT DETAILS</button></p>
                 </div>
                 </div>
                 </div>
                 <div class="col-lg-4 col-sm-6">
                    <div class="d">
                    <img src="https://images.unsplash.com/photo-1503174971373-b1f69850bded?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="">
                    <div class="card-details">
                       <h2 class="text-center">Project title</h2>
                       <p><button>SEE PROJECT DETAILS</button></p>
                    </div>
                    </div>
                    </div>
                     <div class="col-lg-4 col-sm-6">
                        <div class="d">
                        <img src="https://images.unsplash.com/photo-1489171078254-c3365d6e359f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="" style="width: 110%;">
                        <div class="card-details">
                           <h2 class="text-center">Project title</h2>
                           <p><button>SEE PROJECT DETAILS</button></p>
                        </div>
                        </div>
                        </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="d">
                    <img src="https://images.unsplash.com/photo-1551298698-66b830a4f11c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="">
                    <div class="card-details">
                       <h2 class="text-center">Project title</h2>
                       <p><button>SEE PROJECT DETAILS</button></p>
                    </div>
                    </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="d">
                        <img src="https://images.unsplash.com/photo-1497366672149-e5e4b4d34eb3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="">
                        <div class="card-details ">
                           <h2 class="text-center">Project title</h2>
                           <p><button>SEE PROJECT DETAILS</button></p>
                        </div>
                        </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="d">
                            <img src="https://images.unsplash.com/photo-1513161455079-7dc1de15ef3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="">
                            <div class="card-details">
                               <h2 class="text-center">Project title</h2>
                               <p><button>SEE PROJECT DETAILS</button></p>
                            </div>
                            </div>
                            </div>
            </div>  
        </section>
    </div>

    <div class="green-container">
        <h1>Like what you see?</h1>
        <p>Then let's get to work</p>
        <p><a href="#">GET STARTED</a></p>
    </div>

    <footer>
        <div class="black-container">
            <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12">
            <p>Shoreditch bespoke leggings, tote bag williamsburg woke retro readymade scenester <br> brunch art party farm-to-table pug. Wayfarers lyft prism, edison bulb distillery pok  <br> narwhal pinterest poke.</p>
            </div>
            <div class="col-lg-3 col-4">
            <ul>
                <li><b>Shoreditch</b></li>
                <li>Bag williamsburg</li>
                <li>Woke retro</li>
                <li>Readymade</li>
                <li>Scenester</li>
            </ul>
            </div>
            <div class="col-lg-3 col-4">
            <ul>
                <li><b>Shoreditch</b></li>
                <li>Bag williamsburg</li>
                <li>Woke retro</li>
                <li>Readymade</li>
                <li>Scenester</li>
            </ul>
            </div>
            <div class="col-lg-3 col-4">
            <ul>
                <li><b>Shoreditch</b></li>
                <li>Bag williamsburg</li>
                <li>Woke retro</li>
                <li>Readymade</li>
                <li>Scenester</li>
            </ul>
            </div>

        </div>
        </div>
        </div>
    </footer>
</body>
</html>